@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik+80s+Fade&display=swap');

body{
    padding: 0;
    margin: 0;
    
}
.logo{
    display: flex;
    justify-self: left;

}

.logo img{
    width: 100px;
}

.form_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms{
    
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.809);
    
}


.header{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.inputs{
    width: 100%;
    /* margin: 10px; */
    justify-content: center;
}

.inputs input{
    padding: 20px;
    width: 80%;
    margin: 20px;
    justify-content: center;
    background-color:rgb(143, 129, 129);
    border: 0px solid black;
    font-family: 'Poppins', sans-serif;
    color: black;
    border-radius: 10px;


}

.btn input{
    color: white;
    background-color: rgb(173, 8, 8);
    width: 87%;

}

.signup{
    color: white;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: auto auto;


}
.signup a{
    color: white;
    margin: 20px;
    text-align: left;
    padding-left: 0px;
}
.signup p{
    text-align: center;
    margin: 20px;

}